.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100*
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
Icon
._*
Thumbs.db
*.swp
*.swo
*~
.DS_Store?
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
**/.ipynb_checkpoints/
*.ipynb_checkpoints*
*checkpoint.ipynb
*.nbconvert.ipynb

